{% extends 'base.html' %}

{% block content %}
    <style>
        * {
            box-sizing: border-box;
        }

        .wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        ol {
            list-style: none;
            padding: 0;
        }

        li + li {
            margin-top: 1rem;
        }

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            background: aliceblue;
            padding: 1.5rem;
            border-radius: 1rem;
            width: calc(100% - 2rem);
            box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
        }

        li::before {
            counter-increment: list-item;
            content: counter(list-item);
            font-size: 3rem;
            font-weight: 700;
            width: 2em;
            height: 2em;
            background: black;
            flex: 0 0 auto;
            border-radius: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        li:nth-child(even) {
            flex-direction: row-reverse;
            background: lavender;
            margin-right: -2rem;
            margin-left: 2rem;
        }

/* CSS */
    .button-17 {
        align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        font-family: "Google Sans",Roboto,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: .25px;
        line-height: normal;
        max-width: 100%;
        overflow: visible;
        padding: 2px 24px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
        will-change: transform,opacity;
        z-index: 0;
    }

    .button-17:hover {
        background: #F6F9FE;
        color: #174ea6;
    }

    .button-17:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
    }

    .button-17:focus {
        outline: none;
        border: 2px solid #4285f4;
    }

    .button-17:not(:disabled) {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

    .button-17:not(:disabled):hover {
        box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }

    .button-17:not(:disabled):focus {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

    .button-17:not(:disabled):active {
        box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }

    .button-17:disabled {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    </style>

    <title>The answers</title>
    <div class="wrapper">
        <ol role="list">
            {% for query_answer in query_answer_tuple_list %}
                {% set query, answer = query_answer %}
                <li>
                    <div>
                        <h2><span style="text-decoration: underline; border-bottom: 2px solid;">The query is:</span> </h1>
                        <h3>{{ query }}</h3>
                        <h2><span style="text-decoration: underline; border-bottom: 2px solid;">The answer is:</span></h1>
                        <h3>{{ answer }}</h3>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <form method="post" action="{{ url_for('redirect_to_new_page') }}">
            <button  type="submit" class="button-17" role="button">New query</button>
        </form>
    </div>
{% endblock %}