{% extends 'base.html' %}
{% block content %}
    <title>The answers</title>
    <div class="wrapper">
        <ol role="list">
            {% for query_answer in query_answer_tuple_list %}
                {% set query, answer = query_answer %}
                <li>
                    <div class="li_answer">
                        <h2><span style="text-decoration: underline; border-bottom: 2px solid;">The query is:</span> </h1>
                        <h3>{{ query }}</h3>
                        <h2><span style="text-decoration: underline; border-bottom: 2px solid;">The answer is:</span></h1>
                        <h3>{{ answer }}</h3>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <form method="post" action="{{ url_for('redirect_to_new_page') }}">
            <button  type="submit" class="button-17" role="button">New query</button>
        </form>
    </div>
{% endblock %}