{% extends 'base.html' %}
{% block content %}
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}" target="_blank" class="link_bracket">
                    <span>{{ file }}</span>
                </a>
                <a href="{{ url_for('process_file', name = file)}}" class="link_bracket"> <span>>> Process</span></a>
                <a href="{{ url_for('consult_file', name = file)}}" class="link_bracket"><span>>> Consult</span></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}