{% extends 'base.html' %}

{% block content %}
<style>
    #promps_textarea[textarea] {
        padding: 10px;
        font-size: 16px;
        color: #333;
        resize: vertical;
        border: 2px solid transparent;
    }
    .vertical-container {
        display: flex;
        flex-direction: column;
    }
</style>
    <div class="center-container">
        <title>Make query</title>
            <form class="vertical-container"  method=post enctype=multipart/form-data action="/save-promps">
                <div class="horizontal-container">
                    <input class="input_query" type=text name=tags>
                    <input class="button-17" type=submit value=Save>
                </div>
                <textarea id="promps_textarea" name="promps" rows="6" cols="60">{{promps}}</textarea>
            </form>
    </div>
{% endblock %}