{% extends 'base.html' %}
{% block content %}
    <div id="table_files">
        <span class="table-add glyphicon glyphicon-plus"></span>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Process</th>
                <th>Consult</th>
                <th>Delete</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for file in files %}
                <tr>
                    <td>
                        <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}" target="_blank" class="link_bracket">
                            <span>{{ file }}</span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.process_file', name = file)}}" class="link_bracket"> <span>>> Process</span></a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.consult_file', name = file)}}" class="link_bracket"><span>>> Consult</span></a>
                    </td>
                    <td align="center">
                        <a href="{{ url_for('main.delete_file', name = file)}}" onclick="location.href=this.getAttribute('href');return false;">
                            <div class="delete-icon"></div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}